.row {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

}

.col, .col-2, .col-3 {
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    height: 50px;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}
